<div>
  <h3 (click)="onNewsItemClick()" style="cursor: pointer">
    {{ newsItem.title }}
  </h3>
  <div class="d-flex">
    <p>
      author: <span class="badge bg-primary">{{ newsItem.author }}</span>
    </p>
    <p class="ms-5">
      points:
      <span class="badge bg-info">{{ newsItem.points }}</span>
    </p>
    <p class="ms-5">
      comments:
      <span class="badge bg-success">{{ newsItem.commentsNumber }}</span>
    </p>
    <a
      *ngIf="newsItem.url"
      href="{{ newsItem.url }}"
      target="_blank"
      class="ms-5"
      >Go to origin</a
    >
    <a
      href="{{'https://news.ycombinator.com/item?id=' + newsItem.id}}"
      target="_blank"
      class="ms-5"
      >View on hackernews</a
    >
  </div>
</div>
